node_modules
.git
.gitignore
**/.env
**/.env._
!**/.env.example
**/dist
apps/server/generated/pdf
apps/server/prisma/dev.db
apps/server/prisma/dev.db-shm
apps/server/prisma/dev.db-wal
README.md
_.md
.claude
config
